footer.footer 
    .footer__logo 
        img(src='/img/tarzan-icon.png', alt='Tourzan logo')
    ul.footer__nav 
        li: a(href='#') About
        li: a(href='#') Become a guide
        li: a(href='#') Contact